<!DOCTYPE html>
<html>
    <head>
        <meta chaset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet", href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/editorMD/css/editormd.min.css">
        <script src="/assets/js/bootstrap.min.js"></script>
        <title>Blog Detail</title>
    </head>
    <body>
        <div class="container">
            {{template "header"}}
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{.Title}}</h1>
                    <br><br>
                    <h3>{{.Content}}</h3>
                </div>
            </div>
        </div>
    </body>