
{{define "header"}}
<header>
<header class="p-3 bg-dark text-white"> 
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" href="#">Navbar</a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Blog</a></li>
            </ul>

             <div class="text-end">
                <a href="#" class="btn btn-outline-light me-2">Login</button></a>
                <a href="/register" class="btn btn-warning">Sign-up</a>
            </div> 
        </div>
    </div>
</header>
{{end}}
