<!DOCTYPE html>
<html lang="en">
<head>
    <meta chaset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/bootstrap.min.js"></script>
    <title>Register</title>
</head>
<body>
    <div class="container">
       {{template "header"}}

       <form method="post" action="/register">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" id="inputUsername">
        </div>
        <div class="mb-3">
          <label for="inputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="inputPassword">
        </div>
        <div class="mb-3">
          <label for="inputPassword2" class="form-label">Confirm Password</label>
          <input type="password" name="password2" class="form-control" id="inputPassword2">
        </div>
        <button type="submit" class="btn btn-primary">Sign-up</button>
      </form>
    </div>
    
   
</body>
</html>